/* Header */

.header {
    width: 100%;
    padding: 15px;
    background: #fff;
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
}

.header img {
    width: 126px;
}

.header nav {
    transform: translate(200%,0);
    
}

@media(max-width: 979px) {
    .header nav {
        width: 200px;
        position: fixed;
        top: 93px;
        right: 15px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 0 0 12px rgba(0,0,0,0.4);
        transition: transform 0.6s ease-in-out 0s;
        
    }
}

#input-open-menu:checked + nav {
    transform: translate(0,0);
}

.header .logo{
    display: inline-block;
}


@media(min-width: 980px){
    .header nav {       
        float: right;
        transform: translate(0,0);
    }
}


.header li,
.header li a {
    display: block;
}

.header li a {
    padding: 15px;
}

@media (min-width: 980px) {
    .header li,
    .header li a {
    display: inline-block;
}
}

.button-mobile-menu {
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid #bbb;
    border-radius: 8px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    background: url('../img/menu.svg') no-repeat center/ 60%;
    cursor: pointer;
}

@media (min-width: 980px) {
    .button-mobile-menu {
        display: none;
    }
}
