.background{
	background-size: cover;
	z-index: 99999;
	background-repeat: no;
}

	div#pokedex
	{
		width: 750px;
		margin: 50px auto 0 auto;
	}

	div#left
	{
		width: 400px;
		height: 500px;
		float: left;
		position: relative;
		z-index: 1;
	}

	div#right
	{
		width: 350px;
		height: 500px;
		float: left;
		position: relative;
	}


	div#screen
	{
		height: 245px;
		width: 260px;
		padding: 0 20px;		
		float:left;

		position: absolute;
		top: -450px;
		left: 50px;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
	}	

	div#picture img
	{
		display: block;
		margin:  auto;
	}

	div#topPicture
	{
		margin: px auto;
		width: 40px;
	}


	div#stats
	{
		height: 130px;
		width: 280px;
		padding: 10px;
		background-color: #97ca97;
		z-index: 1;
		font-size: 15px;
		font-family: arial, sans-serif;

		position: absolute;
		top: -500px;
		left: 70px;

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;

		box-shadow: 0 0 20px #003300 inset;
		-webkit-box-shadow: 0 0 20px #003300 inset;
		-moz-box-shadow: 0 0 20px #003300 inset;
		-o-box-shadow: 0 0 20px #003300 inset;

		overflow-y: scroll;
	}

	div#stats ul {
		list-style-type: none;
	}

	div#stats li {

		padding-left: 10px;
	}

	#paraErro {
		font-weight: bold;
		font-size: 15px;
	}

	div#Buttons1
	{
		z-index: 1;

		position: absolute;
		top: -100px;
		left: -250px;
		width: 75%;
	}

	#idPokemon {
		background-color: #97ca97;
		border-radius: 7px;
		height: 100%;
		margin: auto;
		width: 100%;
	}

	div.buttons1
	{
		height: 35px;
		width : 45px;
		background-color: #003300;
		float: left;
		margin-right: 7px;

		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
	}
	
	div#greyBox1 {
		width: 140px;
		height: 35px;
		z-index: 1;
		

		position: absolute;		
		left: 327px;
		top: 3px;
		
	}

	div#greyBox2 {
		width: 140px;
		height: 35px;
		z-index: 1;
		

		position: absolute;		
		left: 485px;
		top: 3px;

		
	}

	#estouComSorte,
	#limpar{
		height: 100%;
		width: 100%;
		background-color: Transparent;
    	background-repeat:no-repeat;
		border: none;
		cursor:pointer;
		overflow: hidden;
		outline:none;
		font-weight: bold;
		position: absolute;		
		color: white;
	}
	



