/* Footer */

.footer {
    width: 100%;
    padding: 20px 15px;   
    background: #efefef;
    text-align: center;
    color: #333;
    background: #efefef;
    position: absolute;
    left: 0;
    /*bottom: 0;*/
    z-index: 1;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.footer p {
    margin: 30px 0 0;   
}

