/* Header */

.header {
    width: 100%;
    padding: 15px;
    background: #fff;
    box-shadow: 0 6px 6px rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    box-sizing: border-box;
}

.left_pik{   
    width: 100px;
    float: left;
   
}

.right_pik {
    width: 100px;
    float: right;   
}

.header .logo{
    display: inline-block;
}


