*
{
    margin 0;
    padding: 0;
    font-family: consolas;
}

.wavy span
{
    position: relativeabsolute;
    display: inline-block;
    color:black;
    font-size: 2em;   
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animate
{
    0%
    {
        transform: translateY(0px)
    }
    20%
    {
        transform: translateY(-20px)
    }
    40%,100%
    {
        transform: translateY(0px)
    }
}