.nav-bar-wrapper {
    height: 100%;
  }
  .nav-bar {
    background-color: #090909;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }
  
  .nav-bar li {
    display: block;
    list-style-type: none;
    height: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 100%;
  }
  
  .nav-bar li input {
    border-radius: 8px;
    font-size: 20px;
    width: 200px;
  }
  
  @media (min-width: 767px) {
    .nav-bar {
      top: 0;
      width: 100%;
    }
  
    .nav-bar li {
      display: inline;
    }
  
    .logo {
      float: left;
      width: 200px;
    }
  
    .nav-bar li input {
      float: right;
      height: 30px;
      width: 200px;
      margin-right: 40px;
    }
  }