
ul {
    list-style:none;
    padding: 0;
}

.thumb {
   
    position: absolute;
    top: 250px;
    left: 100px;     
    height: 200px;
}

.nome {
    position: absolute;  
    left: 120px;
    top: 565px;
    font-size: 18px;
    width: 250px;
    line-height: 30px;
    height: 30px;
}

.estatisticas{    
    position: absolute;
    top: 200px;
    left: 500px;
    font-size: 14px;
    color: white;
}

.altura{
    position:absolute
    padding: 0 20px 0 20px;
    margin:  0 5px 0;

 
}

.peso{
    position:absolute
    padding: 0 20px 0 20px;
    margin:  0 5px 0; 
}



.tipos {
    position: absolute;
    left: 470px;
    top: 100px;
    text-align: center;
    background-color: grey;
    width: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
    margin: 8px 0 0 0;
    color : white;
    text-shadow: 2px 2px 3px black;
}

.id{
    position: absolute;
    left: 69px;
    top: 15px;
    font-size: 30px;   
}

