.listagem {
    background-color: #090909;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding-top: 270px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .link {
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
  
  .card {
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 10px;
    text-align: center;
  }
  
  .lista-episodios {
    list-style-type: none;
  }
  
  .lista-episodios-nome {
    font-weight: bold;
  }
  
  .lista-episodios-sinopse {
    margin-top: 5px;
    font-size: 0.8em;
  }
  
  .imagem-episodio {
    width: 100%;
    border-radius: 8px;
  }
  
  @media (min-width: 767px) {
    .listagem {
      grid-template-columns: auto auto auto auto;
      padding-top: 150px;
    }
  
    .card {
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      text-align: center;
      width: 100%;
    }
  }